<div class="modal-background">
  <div class="modal-container" (clickOutside)="close.emit()">
    <div class="header-title-container" *ngIf="note">
      <h2>Add this note to notebook</h2>
    </div>

    <div class="note-preview-container">
      <div
        class="note-preview"
        *ngIf="note"
        [ngStyle]="{'background-color': note.color}"
      >
        <h4>{{ note.title }}</h4>
        <p class="note-content-preview">{{ note.content | slice:0:100 }} ...</p>
      </div>
    </div>

    <div class="notebooks-section">
      <h6>Select a notebook</h6>

      <div class="search-notebooks" *ngIf="(notebooks$ | async)!.length > 5">
        <div class="search-container">
          <div class="search-input-wrapper">
            <i class="bi bi-search search-icon"></i>
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (ngModelChange)="onSearchChange($event)"
              placeholder="Search notebooks"
              class="search-input"
            />
          </div>
        </div>
      </div>

      <ul
        class="notebook-list"
        *ngIf="(filteredNotebooks$ | async)!.length > 0"
      >
        <li
          *ngFor="let notebook of filteredNotebooks$ | async"
          (click)="selectNotebook(notebook)"
          class="notebook-item"
          [class.already-contains]="notebookContainsNote(notebook)"
        >
          <div class="notebook-info">
            <iconify-icon icon="hugeicons:notebook-01"></iconify-icon>
            <p class="notebook-name">{{ notebook.name }}</p>
          </div>

          <div class="notebook-status" *ngIf="notebookContainsNote(notebook)">
            <iconify-icon
              icon="lets-icons:check-fill"
              class="check-icon"
            ></iconify-icon>
            <span>Already added</span>
          </div>
        </li>
      </ul>

      <div
        class="empty-state"
        *ngIf="(filteredNotebooks$ | async)!.length === 0"
      >
        <p>No notebooks found.</p>
        <button (click)="openCreateNotebook()" class="link-button">
          Create one?
        </button>
      </div>
    </div>
  </div>
</div>
