button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 0.4em;
  padding: 0.5rem 0.6rem;
  margin: 0;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--feature-button-color);

  box-sizing: border-box;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  color: var(--feature-button-color-hover);
  background-color: var(--feature-button-hover-background-color);
}

button:hover:not(:disabled) iconify-icon,
button:hover:not(:disabled) p {
  color: var(--feature-button-color-hover);
}

label,
p {
  color: var(--feature-button-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
}
