/* NOTEBOOK EDIT MODAL */
.notebook-edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; /* higher than other elements */
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 300px;
  width: 30%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

h2 {
  color: #589595;
}

.notebook-edit-modal input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.edit-buttons button {
  padding: 0.5rem 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.edit-buttons button:first-child {
  background-color: var(--header-action-btn-main);
  color: white;
  background-color: var(--header-action-btn-main);
  box-sizing: border-box;

  &:hover {
    background-color: #5d9c9c;
  }
}

.edit-buttons button:last-child {
  background-color: #cccccc2d;
  color: #333;

  &:hover {
    background-color: #cccccc7f;
  }
}
