<header>
  <div class="header-actions">
    <!-- Create note, notebook Actions -->
    <div class="main-action-buttons">
      <button class="header-action-btn" (click)="onCreateNote()">
        <!-- <iconify-icon icon="fluent:note-add-16-regular"></iconify-icon> -->
        <iconify-icon icon="lucide:plus"></iconify-icon>
        <h3>Take a note</h3>
      </button>

      <button
        class="header-action-btn"
        (click)="onCreateNotebook()"
        title="Add a notebook"
      >
        <iconify-icon icon="fluent:notebook-add-20-regular"></iconify-icon>

        <!-- <h3>Add a notebook</h3> -->
      </button>
    </div>

    <!-- Search Bar -->
    <div class="search-section">
      <div class="search-container">
        <input
          type="text"
          class="search-input"
          placeholder="Search notes and notebooks"
          [ngModel]="searchTerm"
          (ngModelChange)="onSearchChange($event)"
        />

        @if (searchTerm) {
        <button class="clear-search" (click)="clearSearch()">
          <i class="bi bi-x"></i>
        </button>
        }

        <i class="bi bi-search search-icon"></i>
      </div>
    </div>
  </div>
</header>
