<div class="checkboxes-container">
  @for (checkbox of sortedCheckboxes; track checkbox.id; let i = $index) {
  <div
    class="checkbox-item"
    [class.completed]="checkbox.checked"
    [class.dragging]="draggingIndex === i"
    draggable="true"
    (dragstart)="onDragStart($event, i)"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event, i)"
    (dragend)="onDragEnd()"
  >
    <div class="drag-handle">
      <iconify-icon icon="formkit:draghandle"></iconify-icon>
    </div>

    <div class="checkbox-input-container" (click)="toggleCheckbox(checkbox.id)">
      <iconify-icon
        class="custom-checkbox"
        [icon]="
          checkbox.checked
            ? 'material-symbols:check-box-outline-rounded'
            : 'material-symbols:square-outline-rounded'
        "
      ></iconify-icon>
    </div>

    <input
      type="text"
      [(ngModel)]="checkbox.text"
      (input)="onTextInput(checkbox.id, $event)"
      (blur)="updateCheckboxText(checkbox.id, checkbox.text)"
      (keyup.enter)="addNewCheckbox()"
      (keyup)="onKeyup($event, checkbox)"
      class="checkbox-text-input"
      placeholder="Add item..."
    />

    <!-- Remove Item Button -->
    <button
      (click)="removeCheckbox(checkbox.id)"
      class="remove-checkbox-btn"
      type="button"
    >
      <iconify-icon icon="fa7-solid:remove"></iconify-icon>
    </button>
  </div>
  }

  <!-- Add Checkbox Button -->
  <button (click)="addNewCheckbox()" class="add-checkbox-btn" type="button">
    <iconify-icon icon="gravity-ui:plus"></iconify-icon>
    Add item
  </button>
</div>
