<div class="note-modal" (click)="close.emit()" (appEscKey)="onEscKeyPressed()">
  <div
    class="modal-content"
    (click)="$event.stopPropagation()"
    [style.backgroundColor]="modalColor"
  >
    @if (note.id) {
    <app-modal-note-edit
      [title]="modalTitle"
      [content]="modalContent"
      [color]="modalColor"
      [images]="modalImages"
      [imageLoading]="modalImageLoading"
      [availableColors]="availableColors"
      [clickedSection]="clickedSection"
      [checkboxes]="modalCheckboxes"
      [shouldAddCheckboxes]="shouldAddCheckboxes"
      (titleChange)="titleChange.emit($event)"
      (contentChange)="contentChange.emit($event)"
      (colorChange)="colorChange.emit($event)"
      (imageSelected)="imageSelected.emit($event)"
      (imagesUpdated)="onModalImagesUpdated($event)"
      (removeImage)="removeImage.emit($event)"
      (imageLoad)="imageLoad.emit($event)"
      (save)="save.emit()"
      (cancel)="closeModal()"
      (checkboxesChange)="checkboxesChange.emit($event)"
    />
    }
  </div>
</div>
