<!-- View mode -->
@if (note) {
<div class="modal-view">
  <h3 (click)="onEdit('title')" class="note-title">
    {{ note.title }}
  </h3>

  <div (click)="onEdit('content')" class="modal-scrollable-content">
    <p>{{ note.content }}</p>
  </div>

  <div class="image-preview">
    @for (img of images; track $index; let i = $index) {
    <div class="image-wrapper">
      <img
        [src]="img"
        class="preview-thumbnail"
        (click)="openImage(img)"
        style="cursor: zoom-in"
      />
    </div>
    }

    <!-- Fullscreen Image Preview Overlay -->
    @if (selectedImage) {
    <div class="image-overlay" (click)="closeImage()">
      <img
        [src]="selectedImage"
        class="full-image"
        (click)="$event.stopPropagation()"
      />

      />
      <button class="close-overlay" (click)="closeImage()">&times;</button>
    </div>
    }
  </div>

  <div class="modal-footer-buttons">
    <button (click)="onEdit('content')">Edit</button>
    <button class="close-btn" (click)="onClose()">Close</button>
  </div>
</div>
}
