<!-- View mode -->
<div *ngIf="note" class="modal-view">
  <h3 (click)="onEdit('title')" class="note-title">
    {{ note.title }}
  </h3>
  <div class="modal-scrollable-content" (click)="onEdit('content')">
    <p>{{ note.content }}</p>
  </div>
  <div class="image-preview">
    <div class="image-wrapper" *ngFor="let img of images; let i = index">
      <img [src]="img" class="preview-thumbnail" />
    </div>
  </div>
  <div class="modal-footer-buttons">
    <!-- <button (click)="onEdit()">Edit</button> -->
    <button class="close-btn" (click)="onClose()">Close</button>
  </div>
</div>
