<!-- Edit Mode -->
<div class="modal-overlay" (mousedown)="onBackgroundClick()">
  <div class="modal-content" (mousedown)="$event.stopPropagation()">
    <input
      type="text"
      [ngModel]="title"
      (ngModelChange)="titleChange.emit($event)"
      class="title-input"
      (keyup.enter)="save.emit()"
      (keyup.esc)="cancel.emit()"
      #titleInput
    />

    <textarea
      autoResize
      [ngModel]="content"
      (ngModelChange)="contentChange.emit($event)"
      class="modal-textarea"
      placeholder="Edit your note"
      (keyup.esc)="cancel.emit()"
      #textAreaInput
    ></textarea>

    <div class="image-preview">
      <div class="image-wrapper" *ngFor="let img of images; let i = index">
        <div class="spinner" *ngIf="imageLoading[i]"></div>

        <img
          [src]="img"
          class="preview-thumbnail"
          (load)="imageLoad.emit(i)"
          [style.display]="imageLoading[i] ? 'none' : 'block'"
        />

        <button
          (click)="removeImage.emit(i); $event.stopPropagation()"
          class="remove-image-button"
        >
          &times;
        </button>
      </div>
    </div>

    <div class="color-picker">
      <label *ngFor="let c of availableColors">
        <input
          type="radio"
          name="modalNoteColor"
          [value]="c"
          [checked]="c === color"
          (change)="colorChange.emit(c)"
        />
        <span [style.backgroundColor]="c" class="color-swatch"></span>
      </label>
    </div>

    <div class="buttons-container">
      <div class="note-tools">
        <app-button-feature
          customClass="image-button"
          icon="mage:image"
          title="Upload image"
          (clicked)="triggerImageUpload()"
        ></app-button-feature>

        <app-button-feature
          customClass="reminder-button"
          icon="carbon:reminder"
          title="Add reminder"
        ></app-button-feature>

        <app-button-feature
          customClass="add-checkboxes-button"
          icon="tabler:checkbox"
          title="Add checkboxes"
          (clicked)="addCheckboxes.emit()"
        ></app-button-feature>
      </div>

      <div class="save-cancel-buttons">
        <button (click)="save.emit()" class="buttons-container-save">
          Save
        </button>
        <button (click)="cancel.emit()" class="buttons-container-cancel">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
