<div class="app-layout">
  <!-- LEFT PANEL - Sidebar ---------------------------------------->
  <app-sidebar [appTitle]="'Noteboard'"></app-sidebar>

  <!-- Header ------------------------------------------------------>
  <app-header
    (createNote)="openNewNoteModal()"
    (createNotebook)="openCreateNotebookModal()"
    [searchTerm]="searchTerm"
    [viewMode]="viewMode"
    [activeFilters]="activeFilters"
    (searchChange)="onSearchChange($event)"
    (filterRemove)="removeFilter($event)"
  ></app-header>

  <!-- RIGHT PANEL - Main Content ---------------------------------->
  <div class="main-content">
    <!-- Router Outlet for different views -->
    <router-outlet></router-outlet>
  </div>

  <!-- MODALS ------------------------------------------------------->
  <!-- Note Modal (includes view and edit modals inside it)-->
  <app-modal-note
    *ngIf="selectedNote"
    [note]="selectedNote"
    [isEditing]="isModalEditing"
    [modalTitle]="modalTitle"
    [modalContent]="modalContent"
    [modalColor]="modalColor"
    [modalImages]="modalImages"
    [modalImageLoading]="modalImageLoading"
    [availableColors]="availableColors"
    (close)="closeNoteModal()"
    (edit)="enableModalEdit()"
    (cancel)="cancelModalEdit()"
    (save)="saveModalEdit()"
    (titleChange)="modalTitle = $event"
    (contentChange)="modalContent = $event"
    (colorChange)="modalColor = $event"
    (imageSelected)="onModalImageSelected($event)"
    (removeImage)="removeModalImage($event)"
    (imageLoad)="onModalImageLoad($event)"
  />

  <!-- Add New Note Modal -->
  <div>
    <app-modal-add-new-note
      *ngIf="showAddNoteModal"
      (close)="closeNoteModal()"
    ></app-modal-add-new-note>
  </div>

  <!-- Create Notebook Modal -->
  <div>
    <app-modal-create-notebook
      *ngIf="showCreateNotebookModal"
      (close)="closeCreateNotebookModal()"
      (notebookCreated)="onNotebookCreated($event)"
    >
    </app-modal-create-notebook>
  </div>

  <!-- Add to Notebook Modal -->
  <div>
    <app-modal-add-to-notebook
      *ngIf="showAddToNotebookModal"
      [note]="noteToAddToNotebook"
      (close)="closeAddToNotebookModal()"
    ></app-modal-add-to-notebook>
  </div>

  <!-- Notebook Edit Modal -->
  <app-modal-edit-notebook
    *ngIf="editingNotebook"
    [(notebookName)]="editingNotebookName"
    (save)="saveNotebookEdit()"
    (cancel)="cancelNotebookEdit()"
  />
</div>
