<div class="notebook-detail" *ngIf="notebook$ | async as notebook">
  <!-- Header -->
  <div class="notebook-header">
    <div class="notebook-info">
      <div class="notebook-info-items">
        <h1 class="notebook-title">{{ notebook.name }}</h1>
      </div>

      <div class="notebook-actions">
        <app-button-feature
          customClass="notebook-action-button"
          icon="fluent:edit-28-regular"
          title="Edit Notebook"
          (clicked)="editNotebook(notebook)"
        ></app-button-feature>

        <app-button-feature
          customClass="notebook-action-button"
          icon="mage:trash"
          title="Delete Notebook"
          (clicked)="deleteNotebook(notebook)"
        ></app-button-feature>
      </div>
    </div>
  </div>

  <!-- Empty state -->
  <div class="empty-state" *ngIf="notebook.notes.length === 0">
    <h2>This notebook is empty.</h2>
    <p>Add some notes to get started!</p>
  </div>

  <!-- Notes grid -->
  <div class="notes-section" *ngIf="notebook.notes.length > 0">
    <div class="section-header">
      <h2 class="section-title">
        {{ notebook.notes.length }} {{ notebook.notes.length <= 1 ? 'NOTE' :
        'NOTES '}} IN THIS NOTEBOOK
      </h2>
    </div>

    <div class="notes-grid">
      <app-note
        *ngFor="let note of notebook.notes; trackBy: trackByNoteId"
        [note]="note"
        [showNotebook]="false"
        (open)="openNote($event)"
        (delete)="removeNoteFromNotebook($event)"
        (togglePin)="togglePin($event.note, $event.event)"
        (optionSelected)="handleNoteOption($event, note)"
      >
      </app-note>
    </div>
  </div>
</div>

<div class="not-found" *ngIf="notFound">
  <h2>Notebook not found</h2>
  <p>The notebook you're looking for doesn't exist.</p>
</div>
