<div class="all-view">
  <!-- Loading -->
  <div *ngIf="isLoading$ | async">Loading the notes ...</div>

  <!-- No notes -->
  <div
    *ngIf="!(isLoading$ | async) && !(hasNotes$ | async)"
    class="empty-state"
  >
    <p><i class="bi bi-emoji-frown me-2"></i>No notes yet. Add one!</p>
  </div>

  <!-- No notes match search -->
  <div
    *ngIf="!(isLoading$ | async) 
        && (filteredNotes$ | async)?.length === 0 
        && (pinnedNotes$ | async) 
        && (filteredNotebooks$ | async )?.length ===0
        && searchTerm"
    class="empty-state"
  >
    <p>
      <i class="bi bi-search me-2"></i>No notes match your search "<strong
        >{{ searchTerm }}</strong
      >"
    </p>
  </div>

  <!-- Light Blue secondary background -->
  <div class="secondary-background"></div>

  <!-- MY NOTEBOOKS -->
  <div class="section" *ngIf="hasNotebooks$ | async">
    <h3 class="section-title">NOTEBOOKS</h3>

    <div class="notebooks-row" id="notebooksContainer">
      <ng-container *ngIf="!selectedNotebook">
        <div
          class="notebook-item"
          *ngFor="let notebook of (notebooks$ | async)"
        >
          <!-- Notebook box -->
          <div class="notebook-box">
            <!-- Notebook Header (Clickable) -->
            <div class="notebook-header" (click)="selectNotebook(notebook)">
              <iconify-icon
                class="icon-default"
                icon="fluent:notebook-subsection-24-filled"
              ></iconify-icon>

              <iconify-icon
                class="icon-hover"
                icon="solar:notebook-minimalistic-bold-duotone"
              ></iconify-icon>

              <h3 class="notebook-title">{{ notebook.name }}</h3>

              <!-- Note count & date -->
              <div class="notebook-meta" (click)="selectNotebook(notebook)">
                <div class="ntbk-note-count">
                  {{ notebook.notes.length }} notes
                </div>

                <!-- Three-dots Button -->
                <div>
                  <button
                    class="ntbk-three-dots"
                    (click)="toggleNotebookOptions(notebook.id); $event.stopPropagation()"
                    title="More"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Dropdown menu -->
            <div
              class="dropdown-menu"
              *ngIf="openNotebookOptionsId === notebook.id"
              (click)="$event.stopPropagation()"
              (clickOutside)="openNotebookOptionsId = null"
            >
              <button (click)="startEditingNotebook(notebook)">Edit</button>
              <button (click)="deleteNotebook(notebook.id)">Delete</button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedNotebook">
        <div class="notebook-item">
          <!-- Render only the selected notebook -->
          <div class="notebook-box">
            <div
              class="notebook-header"
              (click)="selectNotebook(selectedNotebook)"
            >
              <iconify-icon
                class="icon-default"
                icon="fluent:notebook-subsection-24-filled"
              ></iconify-icon>
              <iconify-icon
                class="icon-hover"
                icon="solar:notebook-minimalistic-bold-duotone"
              ></iconify-icon>

              <h3 class="notebook-title">{{ selectedNotebook.name }}</h3>

              <div class="notebook-meta">
                <div class="ntbk-note-count">
                  {{ selectedNotebook.notes.length }} notes
                </div>
                <div>
                  <button
                    class="ntbk-three-dots"
                    (click)="toggleNotebookOptions(selectedNotebook.id); $event.stopPropagation()"
                    title="More"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                </div>
              </div>
            </div>

            <div
              class="dropdown-menu"
              *ngIf="openNotebookOptionsId === selectedNotebook.id"
              (click)="$event.stopPropagation()"
              (clickOutside)="openNotebookOptionsId = null"
            >
              <button (click)="startEditingNotebook(selectedNotebook)">
                Edit
              </button>
              <button (click)="deleteNotebook(selectedNotebook.id)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Notes in selected notebook -->
  <div class="section" *ngIf="selectedNotebook">
    <h3 class="section-title">
      NOTES IN "{{ selectedNotebook.name }} ({{ selectedNotebook.notes.length
      }})"
    </h3>

    <div class="close-button-container-in-list">
      <app-button-main
        label="Close Notebook"
        (clicked)="closeNotebook()"
        class="close-notebook-button"
      ></app-button-main>
    </div>

    <ul class="note-grid">
      <app-note
        *ngFor="let note of selectedNotebook.notes"
        [note]="note"
        (open)="openNoteModal($event)"
        (delete)="deleteNote($event)"
        (togglePin)="togglePin($event.note, $event.event)"
        (optionSelected)="handleNoteOptionSelected($event, note)"
      ></app-note>
    </ul>
  </div>

  <!-- MY PINS ------------------------------------------------>
  <div class="section" *ngIf="(hasPins$ | async) && !selectedNotebook">
    <h3 class="section-title">PINNED</h3>

    <ul class="note-grid">
      <app-note
        *ngFor="let pinnedNote of pinnedNotes$ | async"
        [note]="pinnedNote"
        (open)="openNoteModal($event)"
        (delete)="deleteNote($event)"
        (togglePin)="togglePin($event.note, $event.event)"
        (optionSelected)="handleNoteOptionSelected($event, pinnedNote)"
      ></app-note>
    </ul>
  </div>

  <!-- RECENT NOTE(S) -------------------------------------------->
  <div class="section" *ngIf="(hasUnpinnedNotes$ | async) && !selectedNotebook">
    <h3 class="section-title">NOTES</h3>
    <ul>
      <app-note
        *ngFor="let note of (filteredNotes$ | async)"
        [note]="note"
        (open)="openNoteModal($event)"
        (delete)="deleteNote($event)"
        (togglePin)="togglePin($event.note, $event.event)"
        (optionSelected)="handleNoteOptionSelected($event, note)"
      >
      </app-note>
    </ul>
  </div>
</div>
