.all-view {
  position: relative;
  padding: 2rem 3rem;
  width: calc(100% - 400px);
  height: auto;
  min-height: calc(100vh - 130px);
  margin-left: 340px;
  margin-top: 96px;
  margin-bottom: 2rem;
  border: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
}

/*RESPONSIVE STYLES*/
@media (min-width: 1024px) and (max-width: 1440px) {
  .all-view {
    width: calc(100% - 350px);
    margin-left: 320px;
    padding: 1.5rem 2rem;
  }
}
