body {
  font-family: "Reddit Sans", sans-serif;
  background-color: var(--main-background-color);
  box-sizing: border-box;
}

:root {
  /* SIDEBAR COLORS ----------------------------------------*/
  --sidebar-gradient-color1: #8cc5c5;
  --sidebar-gradient-color2: #63a6a6;
  --sidebar-gradient-color3: #438686;
  --sidebar-menu-active-color: #63a6a6;
  --sidebar-menu-txt-color1: #6c9393;

  /* HEADER BUTTONS */
  --header-action-btn-main: #63a6a6;
  --header-action-btn-secondary: #a7cfcf;
  --header-action-btn-txt-color: rgba(255, 255, 255, 0.7);

  /* HEADER SEARCH BAR TEXT */
  --header-search-bar-or-section-text-color: rgba(0, 0, 0, 0.5);

  /* MAIN CONTENT COLORS ----------------------------------------*/
  --main-background-color: #ebf5f5;
  --main-background-color-secondary: #d4ebeb;

  /* NOTES */
  --notes-title-txt-color: #313131;
  --notes-content-txt-color: #383838;
  --notes-date-txt-color: rgba(0, 0, 0, 0.5);
  --notes-pin-button-color-pinned: rgba(0, 0, 0, 0.7);
  --notes-pin-button-color-unpinned: rgba(0, 0, 0, 0.5);

  /* NOTES FEATURE BUTTON COLORS */
  --feature-button-color: #666;
  --feature-button-hover-color: rgba(33, 33, 33, 0.8);
  --feature-button-hover-background-color: rgba(163, 163, 163, 0.2);

  /* MODAL BUTTON COLORS */
  --modal-button-background-color: #5e7e9a;
  --modal-button-background-color-hover: #6f8da6;
}

h1 {
  /* App title */
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  /* User's rofile name*/
  font-size: 22px;
  font-weight: 600;
}

h3 {
  /* Side bar menu text and header buttons */
  font-size: 14px;
  font-weight: 500; /* medium */
}
