<li [style.backgroundColor]="note.color || '#ffffff'" (click)="onOpen()">
  <div>
    <h3 class="note-title">{{ note.title }}</h3>

    <p>{{ note.content }}</p>

    <!-- Thumbnails -->
    <ng-container *ngIf="note.images as images">
      <div class="image-preview" *ngIf="images.length">
        <ng-container *ngFor="let img of images.slice(0, 3); let i = index">
          <!-- First two images -->
          <div class="image-wrapper" *ngIf="i < 2 || images.length <= 3">
            <img [src]="img" class="preview-thumbnail" />
          </div>

          <!-- Third image with overlay if more exist -->
          <div
            class="image-wrapper more-images-overlay"
            *ngIf="i === 2 && images.length > 3"
          >
            <img [src]="img" class="preview-thumbnail" />
            <div class="overlay">+{{ images.length - 3 }}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!-- Buttons -->
  <div class="buttons-container" (click)="$event.stopPropagation()">
    <div class="pin-icon">
      <i
        class="bi"
        [ngClass]="note.pinned ? 'bi-pin-fill' : 'bi-pin'"
        title="{{ note.pinned ? 'Unpin' : 'Pin' }}"
        (click)="onTogglePin($event)"
      ></i>
    </div>

    <!-- Hidden file input -->
    <input
      #fileInput
      type="file"
      accept="image/*"
      multiple
      style="display: none"
      (change)="onImageSelected($event)"
    />

    <!--  Feature Buttons -->
    <div class="left-buttons">
      <app-button-feature
        customClass="image-button"
        icon="mage:image"
        title="Upload image"
        (clicked)="triggerImageUpload($event)"
      ></app-button-feature>

      <app-button-feature
        customClass="add-to-notebook-button"
        icon="fluent:notebook-arrow-curve-down-20-regular"
        title="Add to notebook"
        (clicked)="openAddToNotebookModal(note)"
      ></app-button-feature>

      <app-button-feature
        customClass="reminder-button"
        icon="carbon:reminder"
        title="Add reminder"
      ></app-button-feature>

      <app-button-feature
        customClass="add-checkboxes-button"
        icon="tabler:checkbox"
        title="Add checkboxes"
        (clicked)="onDelete($event)"
      ></app-button-feature>

      <app-button-feature
        customClass="archive-button"
        icon="mage:archive"
        title="Archive note"
      ></app-button-feature>

      <!-- <app-button-feature
        customClass="delete-note-button"
        icon="mage:trash"
        title="Delete note"
        (clicked)="onDelete($event)"
      ></app-button-feature> -->

      <!-- Conditional Delete/Remove Button -->
      <ng-container *ngIf="(isInNotebook$ | async); else deleteButton">
        <app-button-feature
          customClass="remove-from-notebook-button"
          icon="mdi:note-remove"
          title="Remove from notebook"
          (clicked)="onRemoveFromNotebook($event)"
        ></app-button-feature>
      </ng-container>

      <ng-template #deleteButton>
        <app-button-feature
          customClass="delete-note-button"
          icon="mage:trash"
          title="Delete note"
          (clicked)="onDelete($event)"
        ></app-button-feature>
      </ng-template>
    </div>
  </div>
</li>
