li {
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  min-height: 280px;
  height: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: default;
  overflow: hidden;
  transition: all 0.2s ease;
  outline: 0.5px solid rgba(150, 150, 150, 0.3);

  &:hover {
    box-shadow: 0 4px 6px rgba(67, 134, 134, 0.15);
    transform: translateY(-2px);
  }
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 18pt;
  color: #343434;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 220px;
  white-space: pre-wrap;
}

.image-preview {
  display: flex;
  gap: 6px;
  margin-top: 0.5rem;
}

.preview-thumbnail {
  height: 60px;
  width: auto;
  object-fit: cover;
  border-radius: 4px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

li:hover .buttons-container {
  opacity: 1;
  pointer-events: auto;
}

.left-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.three-dot-button-container {
  display: flex;
  align-items: center;
}

.pin-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 4px 6px 2px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--feature-button-color);
  z-index: 10;
}

.pin-icon:hover {
  color: var(--feature-button-hover-color);
  background-color: var(--feature-button-hover-background-color);
  border-radius: 8px;
}
